.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  min-height: auto;
  margin: 0 auto;
  background-color: azure;
  border: 1px solid black;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 5px 5px 5px 5px lightgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: red;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  color: blue;
}

.taskUi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskLi {
  display: flex;
  color: green;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  margin: 0.5em;
  padding: 0.5em;
}

button {
  margin: 0.5em;
  padding: 0.5em;
}

button:hover {
  background-color: lightblue;
}

.productUi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.productLi {
  display: flex;
  color: green;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
