# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/

# Environment variables
.env
server/.env.example

# Build output
build/

# OS-specific files
.DS_Store
Thumbs.db

#development doc

refactor-plan-v1_2.md
